# Auto detect text files and perform LF normalization
* text=auto

# Source code
*.ts text
*.js text
*.json text
*.css text
*.scss text
*.html text
*.md text

# Images
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.svg text

# Fonts
*.woff binary
*.woff2 binary
*.eot binary
*.ttf binary
*.otf binary
